body {
  margin: 0 20px 20px 20px;
  font-family: 'Palatino', Times, serif;
  line-height: normal;
}

div#container {
  margin: auto;
  max-width: 800px;
}

div#textbox {
  background-color: #FEFAF2;
  border: 1px solid wheat;
  padding: 10px 20px 0 20px;
  max-width: 760px;
}

#logo {
  width: 92%;
  padding: 8% 4%;
}

figure {
  margin: 0;
  padding-top: 40px;
}

figcaption {
  padding-top: 12px;
  padding-left: 4px;
}

img {
  width: 100%;
}

img.tall {
  width: 50%;
}

h1 {
  font-size: larger;
}

p {
  line-height: 1.6;
}
